In [1]:
import pandas as pd

# Data for Employee DataFrame
employee_data = {
    "ID": ["A001", "A002", "A003", "A004", "A005"],
    "Name": ["John Alter", "Alice Luxumberg", "Tom Sabestine", "Nina Adgra", "Amy Johny"],
    "Gender": ["M", "F", "M", "F", "F"],
    "City": ["Paris", "London", "Berlin", "Newyork", "Madrid"],
    "Age": [25, 27, 29, 31, 30]
}

# Creating Employee DataFrame
employee_df = pd.DataFrame(employee_data)

# Data for Seniority Level DataFrame
seniority_data = {
    "ID": ["A001", "A002", "A003", "A004", "A005"],
    "Designation Level": [2, 2, 3, 2, 3]
}

# Creating Seniority Level DataFrame
seniority_df = pd.DataFrame(seniority_data)

# Data for Project DataFrame
project_data = {
    "ID": ["A001", "A002", "A003", "A004", "A005", "A002", "A005", "A003", "A001", "A003", "A001", "A004", "A004", "A005"],
    "Project": ["Project 1", "Project 2", "Project 3", "Project 4", "Project 5", "Project 6", "Project 7", "Project 8", "Project 9", "Project 10", "Project 11", "Project 12", "Project 13", "Project 14"],
    "Cost": [1002000, 2000000, 4500000, 5500000, None, 680000, 400000, 350000, None, 300000, 2000000, 1000000, 3000000, 200000],
    "Status": ["Finished", "Ongoing", "Finished", "Ongoing", "Finished", "Failed", "Finished", "Failed", "Ongoing", "Finished", "Failed", "Ongoing", "Finished", "Finished"]
}

# Creating Project DataFrame
project_df = pd.DataFrame(project_data)

# Saving DataFrames as CSV files
employee_df.to_csv('employee.csv', index=False)
seniority_df.to_csv('seniority.csv', index=False)
project_df.to_csv('project.csv', index=False)

In [3]:
# Calculating the average to fill missing values
for i in range(len(project_df)):
    if pd.isnull(project_df.loc[i, 'Cost']):
        project_df.loc[i, 'Cost'] = project_df['Cost'][:i].mean()

# Save the updated DataFrame
project_df.to_csv('project.csv', index=False)

In [7]:
# Splitting the Name column into First Name and Last Name
employee_df[['First Name', 'Last Name']] = employee_df['Name'].str.split(' ', n=1, expand=True)

# Drop the original Name column
employee_df.drop(columns=['Name'], inplace=True)

# Save the updated DataFrame
employee_df.to_csv('employee.csv', index=False)

In [9]:
# Merge Employee and Seniority DataFrames
final_df = pd.merge(employee_df, seniority_df, on='ID')

# Merge the result with the Project DataFrame
final_df = pd.merge(final_df, project_df, on='ID')

# Save the Final DataFrame
final_df.to_csv('final.csv', index=False)

In [11]:
# Adding a Bonus column
final_df['Bonus'] = final_df.apply(lambda row: row['Cost'] * 0.05 if row['Status'] == 'Finished' else 0, axis=1)

# Save the updated Final DataFrame
final_df.to_csv('final.csv', index=False)

In [13]:
# Demoting employees with failed projects
final_df.loc[final_df['Status'] == 'Failed', 'Designation Level'] -= 1

# Removing employees with a designation level above 4
final_df = final_df[final_df['Designation Level'] <= 4]

# Save the updated Final DataFrame
final_df.to_csv('final.csv', index=False)

In [15]:
# Add titles to the First Name column
final_df['First Name'] = final_df.apply(lambda row: 'Mr. ' + row['First Name'] if row['Gender'] == 'M' else 'Mrs. ' + row['First Name'], axis=1)

# Drop the Gender column
final_df.drop(columns=['Gender'], inplace=True)

# Save the updated Final DataFrame
final_df.to_csv('final.csv', index=False)

In [17]:
# Promote employees based on age
final_df.loc[final_df['Age'] > 29, 'Designation Level'] += 1

# Save the updated Final DataFrame
final_df.to_csv('final.csv', index=False)

In [19]:
# Calculate the total project cost for each employee
total_proj_cost = final_df.groupby(['ID', 'First Name'])['Cost'].sum().reset_index()
total_proj_cost.rename(columns={'Cost': 'Total Cost'}, inplace=True)

# Save the Total Project Cost DataFrame
total_proj_cost.to_csv('total_proj_cost.csv', index=False)

In [21]:
# Filter employees whose city names contain the letter "o"
filtered_employees = final_df[final_df['City'].str.contains('o', case=False)]

# Print the filtered employees
print(filtered_employees)

      ID     City  Age  First Name  Last Name  Designation Level     Project  \
3   A002   London   27  Mrs. Alice  Luxumberg                  2   Project 2
4   A002   London   27  Mrs. Alice  Luxumberg                  1   Project 6
8   A004  Newyork   31   Mrs. Nina      Adgra                  3   Project 4
9   A004  Newyork   31   Mrs. Nina      Adgra                  3  Project 12
10  A004  Newyork   31   Mrs. Nina      Adgra                  3  Project 13

         Cost    Status     Bonus
3   2000000.0   Ongoing       0.0
4    680000.0    Failed       0.0
8   5500000.0   Ongoing       0.0
9   1000000.0   Ongoing       0.0
10  3000000.0  Finished  150000.0